node_modules/
dist/
.env
*.log
logs/
.DS_Store
*.tsbuildinfo
prisma/*.db

*.db
*.db-journal
.env*

.wwebjs_auth
apps/api/.wwebjs_auth
apps/api/.wwebjs_cache

# Temporary / Build Files
scratch/
build_output.txt
.vscode/
